$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

title {
  color: blue;
}

h1{
  color: #367342;
  font-size: 55px;
  text-align: center;
}


nav {
  text-align: center;
}
